<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pe.proyecto.EditorMapper">
	<resultMap id="contactResultMap" type="Editor">
		<id property="edit_id" column="EDIT_ID" />
		<result property="edit_value" column="EDIT_VALUE" />
	</resultMap>
	<select id="findAll" resultMap="contactResultMap">
		SELECT
		EDIT_ID,
		EDIT_VALUE
		FROM EDIT
	</select>
</mapper>